.results-container {
  width: 100%;
  max-width: 1200px;
  padding: 24px 32px;
  margin: 32px auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-template-rows: auto;
  gap: 40px;
}

.recipe-search {
  width: 100%;
  max-width: 1200px;
  padding: 0 32px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
